In [11]:
import nltk
from nltk.tokenize import word_tokenize
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer
import spacy
import re
import pandas as pd

Load Data

In [12]:
bbc_data = pd.read_csv('bbc_news.csv')
bbc_data.head()

,Unnamed: 0,index,title,pubDate,guid,link,description
0,0,6684,Can I refuse to work?,"Wed, 10 Aug 2022 15:46:18 GMT",https://www.bbc.co.uk/news/business-62147992,https://www.bbc.co.uk/news/business-62147992?a...,With much of the UK enduring another period of...
1,1,9267,'Liz Truss the Brief?' World reacts to UK poli...,"Mon, 17 Oct 2022 11:35:12 GMT",https://www.bbc.co.uk/news/world-63285480,https://www.bbc.co.uk/news/world-63285480?at_m...,The UK's political chaos has been watched arou...
2,2,7387,Rationing energy is nothing new for off-grid c...,"Wed, 31 Aug 2022 05:20:18 GMT",https://www.bbc.co.uk/news/uk-scotland-highlan...,https://www.bbc.co.uk/news/uk-scotland-highlan...,Scoraig in the north west Highlands has long h...
3,3,767,The hunt for superyachts of sanctioned Russian...,"Tue, 22 Mar 2022 14:37:01 GMT",https://www.bbc.co.uk/news/60739336,https://www.bbc.co.uk/news/60739336?at_medium=...,"Wealthy Russians sanctioned by the US, EU and ..."
4,4,3712,Platinum Jubilee: 70 years of the Queen in 70 ...,"Wed, 01 Jun 2022 23:17:33 GMT",https://www.bbc.co.uk/news/uk-61660128,https://www.bbc.co.uk/news/uk-61660128?at_medi...,A quick look back at the Queen's 70 years on t...

In [13]:
bbc_data.describe()

        Unnamed: 0         index
count  1000.000000   1000.000000
mean    499.500000   7591.995000
std     288.819436   4576.727713
min       0.000000      4.000000
25%     249.750000   3619.250000
50%     499.500000   7318.000000
75%     749.250000  11679.250000
max     999.000000  15475.000000

In [14]:
bbc_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1000 entries, 0 to 999
Data columns (total 7 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Unnamed: 0   1000 non-null   int64
 1   index        1000 non-null   int64
 2   title        1000 non-null   object
 3   pubDate      1000 non-null   object
 4   guid         1000 non-null   object
 5   link         1000 non-null   object
 6   description  1000 non-null   object
dtypes: int64(2), object(5)
memory usage: 54.8+ KB

In [15]:
titles = pd.DataFrame(bbc_data['title'])
titles.head()

                                               title
0                              Can I refuse to work?
1  'Liz Truss the Brief?' World reacts to UK poli...
2  Rationing energy is nothing new for off-grid c...
3  The hunt for superyachts of sanctioned Russian...
4  Platinum Jubilee: 70 years of the Queen in 70 ...

Clean Data

In [16]:
# lowercase
titles['lowercase'] = titles['title'].str.lower()
titles.head()

,title,lowercase
0,Can I refuse to work?,can i refuse to work?
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...

In [18]:
# remove stop words
en_stop = stopwords.words('english')
en_stop.remove('not')
titles['no_stopwords'] = titles['lowercase'].apply(lambda x: " ".join([word for word in x.split() if word not in en_stop])
)
titles.head()

,title,lowercase,no_stopwords
0,Can I refuse to work?,can i refuse to work?,refuse work?
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds

In [20]:
# remove punctuation
titles['removed_punctuation'] = titles.apply(lambda x: re.sub(r'[^\w\s]', '', x['no_stopwords']), axis=1)
titles.head()

,title,lowercase,no_stopwords,removed_punctuation
0,Can I refuse to work?,can i refuse to work?,refuse work?,refuse work
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...,liz truss brief world reacts uk political turmoil
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community,rationing energy nothing new offgrid community
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs,hunt superyachts sanctioned russian oligarchs
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds,platinum jubilee 70 years queen 70 seconds

In [21]:
# tokenize
titles['tokens_clean'] = titles.apply(lambda x: word_tokenize(x['removed_punctuation']), axis=1)
titles.head()

,title,lowercase,no_stopwords,removed_punctuation,tokens_clean
0,Can I refuse to work?,can i refuse to work?,refuse work?,refuse work,"[refuse, work]"
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...,liz truss brief world reacts uk political turmoil,"[liz, truss, brief, world, reacts, uk, politic..."
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community,rationing energy nothing new offgrid community,"[rationing, energy, nothing, new, offgrid, com..."
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs,hunt superyachts sanctioned russian oligarchs,"[hunt, superyachts, sanctioned, russian, oliga..."
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds,platinum jubilee 70 years queen 70 seconds,"[platinum, jubilee, 70, years, queen, 70, seco..."

In [23]:
# lemmatizing
lm = WordNetLemmatizer()
titles['lemmatized'] = titles['tokens_clean'].apply(lambda tokens: [lm.lemmatize(token) for token in tokens])
titles.head()

,title,lowercase,no_stopwords,removed_punctuation,tokens_clean,lemmatized
0,Can I refuse to work?,can i refuse to work?,refuse work?,refuse work,"[refuse, work]","[refuse, work]"
1,'Liz Truss the Brief?' World reacts to UK poli...,'liz truss the brief?' world reacts to uk poli...,'liz truss brief?' world reacts uk political t...,liz truss brief world reacts uk political turmoil,"[liz, truss, brief, world, reacts, uk, politic...","[liz, truss, brief, world, reacts, uk, politic..."
2,Rationing energy is nothing new for off-grid c...,rationing energy is nothing new for off-grid c...,rationing energy nothing new off-grid community,rationing energy nothing new offgrid community,"[rationing, energy, nothing, new, offgrid, com...","[rationing, energy, nothing, new, offgrid, com..."
3,The hunt for superyachts of sanctioned Russian...,the hunt for superyachts of sanctioned russian...,hunt superyachts sanctioned russian oligarchs,hunt superyachts sanctioned russian oligarchs,"[hunt, superyachts, sanctioned, russian, oliga...","[hunt, superyachts, sanctioned, russian, oliga..."
4,Platinum Jubilee: 70 years of the Queen in 70 ...,platinum jubilee: 70 years of the queen in 70 ...,platinum jubilee: 70 years queen 70 seconds,platinum jubilee 70 years queen 70 seconds,"[platinum, jubilee, 70, years, queen, 70, seco...","[platinum, jubilee, 70, year, queen, 70, second]"

In [24]:
# create tokens list
token_clean_list = sum(titles['lemmatized'], [])
token_clean_list

['refuse',
 'work',
 'liz',
 'truss',
 'brief',
 'world',
 'reacts',
 'uk',
 'political',
 'turmoil',
 'rationing',
 'energy',
 'nothing',
 'new',
 'offgrid',
 'community',
 'hunt',
 'superyachts',
 'sanctioned',
 'russian',
 'oligarch',
 'platinum',
 'jubilee',
 '70',
 'year',
 'queen',
 '70',
 'second',
 'red',
 'bull',
 'found',
 'guilty',
 'breaking',
 'formula',
 '1',
 'budget',
 'cap',
 'world',
 'triathlon',
 'championship',
 'series',
 'flora',
 'duffy',
 'beat',
 'georgia',
 'taylorbrown',
 'womens',
 'title',
 'terry',
 'hall',
 'coventry',
 'scooter',
 'rideout',
 'pay',
 'tribute',
 'singer',
 'post',
 'office',
 'fujitsu',
 'face',
 'inquiry',
 'horizon',
 'scandal',
 'pavement',
 'parking',
 'frightens',
 'me',
 'uk',
 'interest',
 'rate',
 'rise',
 'affect',
 'high',
 'could',
 'go',
 'stayed',
 'storm',
 'happens',
 'now',
 'six',
 'nation',
 'scotland',
 'best',
 'since',
 '99',
 'beat',
 'best',
 'ireland',
 'ever',
 'long',
 'liz',
 'truss',
 'survive',
 'prime',
 'minister',
 'platinum',
 'jubilee',
 'beacon',
 'light',
 'across',
 'globe',
 'celebrate',
 'queen',
 'reign',
 'top',
 'student',
 'loan',
 'interest',
 'rate',
 'cut',
 '5',
 'england',
 'russian',
 'said',
 'theyd',
 'take',
 'baby',
 'medic',
 'story',
 'week',
 'picture',
 '1117',
 'june',
 '2022',
 'xi',
 'jinping',
 'hong',
 'kong',
 'tight',
 'security',
 'city',
 'mark',
 '25',
 'year',
 'handover',
 'rescue',
 'carried',
 'silence',
 'listen',
 'sound',
 'life',
 'nick',
 'pope',
 'newcastle',
 'goalkeeper',
 'extends',
 'incredible',
 'clean',
 'sheet',
 'record',
 'china',
 'plan',
 'become',
 'next',
 'big',
 'space',
 'power',
 'barcelona',
 'thrash',
 'leader',
 'real',
 'madrid',
 'famous',
 'clasico',
 'win',
 'kuenssberg',
 'budget',
 'can',
 'not',
 'mask',
 'big',
 'change',
 'economy',
 'nicola',
 'bulley',
 'search',
 'know',
 'disappearance',
 'cost',
 'living',
 'christmas',
 'light',
 'display',
 'survive',
 'energy',
 'crisis',
 '100yearold',
 'edinburgh',
 'man',
 'still',
 'working',
 'three',
 'day',
 'week',
 'freya',
 '600kg',
 'walrus',
 'cause',
 'stir',
 'norway',
 'offer',
 'uk',
 'home',
 'ukrainian',
 'refugee',
 'nicola',
 'bulley',
 'search',
 'former',
 'police',
 'bos',
 'say',
 'criticism',
 'unfair',
 'bolduc',
 'democrat',
 'elevated',
 'republican',
 'backfire',
 'strike',
 'action',
 'cancelled',
 'queen',
 'death',
 'neighbourhood',
 'leading',
 'green',
 'energy',
 'revolution',
 'men',
 'u17',
 'european',
 'championship',
 'dutch',
 '17yearold',
 'isaac',
 'babadi',
 'score',
 'panenka',
 'penalty',
 'amtrak',
 'derailment',
 'three',
 'killed',
 'missouri',
 'train',
 'hit',
 'truck',
 'energy',
 'price',
 'cap',
 'rising',
 'bill',
 'four',
 'discount',
 'payment',
 'could',
 'help',
 'environment',
 'mushroom',
 'board',
 'future',
 'surfing',
 'flying',
 'boat',
 'tech',
 'cleaner',
 'shipping',
 'scottish',
 'football',
 'ban',
 'heading',
 'day',
 'match',
 'chris',
 'eubank',
 'jr',
 'v',
 'liam',
 'smith',
 'next',
 'boxing',
 'unacceptable',
 'taunt',
 'town',
 'destroyed',
 'make',
 'way',
 'whitesonly',
 'suburb',
 'ukraine',
 'war',
 'village',
 'celebrates',
 'russian',
 'retreat',
 'root',
 'hit',
 'ton',
 'england',
 'take',
 'command',
 'west',
 'indie',
 'heineken',
 'champion',
 'cup',
 'leicester',
 '166',
 'edinburgh',
 'jasper',
 'wiese',
 'try',
 'sends',
 'tiger',
 'last',
 'eight',
 'world',
 'cup',
 '2022',
 'bellingham',
 'gakpo',
 'fernandez',
 'breakout',
 'star',
 'briton',
 'jack',
 'fenton',
 'killed',
 'greek',
 'helicopter',
 'accident',
 'emotional',
 'sue',
 'barker',
 'get',
 'centre',
 'court',
 'ovation',
 'ukrainian',
 'skating',
 'sister',
 'back',
 'doing',
 'love',
 'england',
 'v',
 'india',
 'edgbaston',
 'official',
 'investigate',
 'crowd',
 'racism',
 'test',
 'newspaper',
 'headline',
 'rwanda',
 'plan',
 'will',
 'fail',
 'sa',
 'train',
 'kyiv',
 'force',
 'name',
 'leon',
 'sir',
 'lenny',
 'henry',
 'brings',
 'moving',
 'adoption',
 'story',
 'screen',
 'big',
 'brother',
 'star',
 'glyn',
 'wise',
 'plan',
 'priest',
 'minister',
 'asleep',
 'wheel',
 'dentist',
 'shortage',
 'say',
 'lib',
 'dems',
 'chris',
 'kaba',
 'met',
 'suspends',
 'officer',
 'shot',
 'dead',
 'unarmed',
 'man',
 'world',
 'cup',
 '2022',
 'learned',
 'group',
 'stage',
 'saw',
 'record',
 'number',
 'upset',
 'james',
 'webb',
 'nasa',
 'space',
 'telescope',
 'delivers',
 'spectacular',
 'picture',
 'constitution',
 'hill',
 'cheltenham',
 'champion',
 'hurdle',
 'winner',
 'the',
 'horse',
 'generation',
 'least',
 'one',
 'victim',
 'could',
 'survived',
 'arena',
 'bomb',
 'inquiry',
 'gareth',
 'bale',
 'wale',
 'captain',
 'retires',
 'football',
 'aged',
 '33',
 'ukraine',
 'war',
 'silent',
 'street',
 'wiped',
 'donetsk',
 'town',
 'world',
 'cup',
 '2022',
 'vittorio',
 'pozzos',
 'legacy',
 'record',
 'might',
 'finally',
 'threat',
 'train',
 'strike',
 'worker',
 'vote',
 'six',
 'month',
 'walkout',
 'eidevall',
 '100',
 'sure',
 'arsenal',
 'advance',
 'firstleg',
 'draw',
 'ukraine',
 'war',
 'returning',
 'place',
 'father',
 'killed',
 'furniture',
 'firm',
 'made',
 'collapse',
 'customer',
 'dark',
 'refund',
 'widow',
 'u',
 'capitol',
 'riot',
 'officer',
 'stigma',
 'death',
 'nh',
 'reach',
 'deal',
 'lifesaving',
 'breastcancer',
 'drug',
 'giant',
 'ceramic',
 'sculpture',
 'sandy',
 'brown',
 'unveiled',
 'cornwall',
 'ceo',
 'secret',
 'one',
 'company',
 'attracts',
 'men',
 'boris',
 'becker',
 'tennis',
 'superstar',
 'crashed',
 'earth',
 'turkish',
 'mine',
 'explosion',
 'kill',
 '25',
 'leaf',
 'dozen',
 'trapped',
 'indian',
 'well',
 'andy',
 'murray',
 'emma',
 'raducanu',
 'jack',
 'draper',
 'win',
 'reach',
 'third',
 'round',
 'world',
 'athletics',
 'championship',
 'gb',
 'keely',
 'hodgkinson',
 'narrowly',
 'miss',
 'gold',
 'dramatic',
 '800m',
 'nh',
 'crisis',
 'medic',
 'trying',
 'fix',
 'health',
 'service',
 'jet',
 'crash',
 'block',
 'flat',
 'russia',
 'prince',
 'harry',
 'meghan',
 'get',
 'money',
 'chelsea',
 '42',
 'man',
 'utd',
 'chelsea',
 'win',
 'historic',
 'third',
 'successive',
 'wsl',
 'title',
 'tory',
 'leadership',
 'rather',
 'lose',
 'right',
 'thing',
 'say',
 'sunak',
 'omagh',
 'police',
 'shooting',
 'four',
 'men',
 'released',
 'john',
 'caldwell',
 'attack',
 'northern',
 'ireland',
 '10',
 'italy',
 'sarah',
 'mcfadden',
 'score',
 'famous',
 'winner',
 'belfast',
 'actress',
 'clara',
 'darcy',
 'starring',
 'play',
 'brain',
 'tumour',
 'bridgerton',
 'south',
 'asian',
 'face',
 'tv',
 'make',
 'happy',
 'prince',
 'harry',
 'remembers',
 'queen',
 'elizabeth',
 'ii',
 'infectious',
 'smile',
 'million',
 'receive',
 'latest',
 'costofliving',
 'payment',
 'joe',
 'biden',
 'head',
 'middle',
 'east',
 'amid',
 'faltering',
 'u',
 'sway',
 'nh',
 'public',
 'satisfaction',
 'health',
 'service',
 'drop',
 'record',
 'low',
 'seen',
 'major',
 'winter',
 'storm',
 'paper',
 'lion',
 'bare',
 'teeth',
 'starmers',
 'migration',
 'policy',
 'afghanistan',
 'pupil',
 'fear',
 'spate',
 'islamic',
 'state',
 'attack',
 'princess',
 'wale',
 'kate',
 'pay',
 'tribute',
 'queen',
 'elizabeth',
 'carol',
 'service',
 'emma',
 'raducanu',
 'u',
 'open',
 'champion',
 'discusses',
 'tough',
 'split',
 'coach',
 'torben',
 'beltz',
 'oxford',
 'united',
 '03',
 'arsenal',
 'eddie',
 'nketiah',
 'score',
 'twice',
 'gunner',
 'progress',
 'ukraine',
 'roundup',
 'putin',
 'defends',
 'necessary',
 'invasion',
 'kyiv',
 'averts',
 'cyberattack',
 'ni',
 'protocol',
 'uk',
 'eu',
 'reach',
 'agreement',
 'trade',
 'data',
 'sharing',
 'super',
 'mario',
 'bros',
 'movie',
 'jack',
 'black',
 'rise',
 'game',
 'adaptation',
 'fourtime',
 'slam',
 'champion',
 'osaka',
 'announces',
 'pregnancy',
 'mcdonalds',
 'cocacola',
 'boycott',
 'call',
 'grow',
 'russia',
 'womens',
 'footballer',
 'year',
 'contender',
 'sam',
 'kerr',
 'war',
 'ukraine',
 'vladimir',
 'putin',
 'trained',
 'fighter',
 'africa',
 'ryanairs',
 'michael',
 'oleary',
 'want',
 'practical',
 'immigration',
 'approach',
 'i',
 'planned',
 'end',
 'life',
 '16',
 'still',
 'here',
 'england',
 '14',
 'men',
 'whipped',
 'twickenham',
 'crowd',
 'stirring',
 'display',
 'open',
 'rory',
 'mcilroy',
 'viktor',
 'hovland',
 'share',
 'lead',
 'st',
 'andrew',
 'third',
 'round',
 'real',
 'madrid',
 '20',
 'eintracht',
 'frankfurt',
 'karim',
 'benzema',
 'score',
 '324th',
 'goal',
 'real',
 'super',
 'cup',
 'win',
 'paper',
 'boris',
 'dossier',
 'judge',
 'to',
 'back',
 'down',
 'rwanda',
 'queen',
 'pull',
 'attending',
 'commonwealth',
 'service',
 'mosque',
 'fire',
 'suspect',
 'arrested',
 'second',
 'attack',
 'world',
 'cup',
 '2022',
 'belgium',
 'drop',
 'love',
 'away',
 'shirt',
 'qatar',
 'uk',
 'living',
 'covid',
 'plan',
 'soho',
 'street',
 'turned',
 'new',
 'london',
 'art',
 'gallery',
 'paper',
 'cruise',
 'ship',
 'house',
 'migrant',
 'new',
 'nh',
 'cash',
 'pay',
 'gap',
 'boss',
 'staff',
 'widen',
 'think',
 'tank',
 'local',
 'election',
 'child',
 'urge',
 'action',
 'save',
 'wildlife',
 'climate',
 'change',
 'uk',
 'track',
 'meet',
 'target',
 'trump',
 'investigation',
 'empty',
 'folder',
 'marked',
 'classified',
 'found',
 'maralago',
 'jim',
 'ratcliffe',
 'man',
 'bidding',
 'man',
 'utd',
 'shropshire',
 'baby',
 'death',
 'parent',
 'whose',
 'life',
 'changed',
 'forever',
 'bus',
 'journey',
 'taken',
 'since',
 '2',
 'fare',
 'cap',
 'say',
 'watchdog',
 'mexico',
 'kidnapping',
 'twisted',
 'moral',
 'code',
 'explains',
 'cartel',
 'apology',
 'rail',
 'fare',
 'england',
 'rise',
 'inflation',
 'rate',
 'minister',
 'say',
 'taliban',
 'school',
 'uturn',
 'a',
 'devastating',
 'day',
 'afghan',
 'girl',
 'malala',
 'yousafzai',
 'met',
 'police',
 'next',
 'force',
 'casey',
 'review',
 'ukraine',
 'war',
 'kherson',
 'mariupol',
 'key',
 'russian',
 'success',
 'heineken',
 'champion',
 'cup',
 'premiership',
 'cap',
 'hinders',
 'english',
 'team',
 'alex',
 'sanderson',
 'ukraine',
 'war',
 'protester',
 'expose',
 'crack',
 'kremlin',
 'war',
 'message',
 'liz',
 'truss',
 'vow',
 'match',
 'ukraine',
 'military',
 'support',
 'politics',
 'return',
 'wale',
 'population',
 'hit',
 'new',
 'high',
 'growth',
 'lowest',
 'many',
 'ukrainian',
 'fled',
 'home',
 'gone',
 'deloitte',
 'report',
 'european',
 'football',
 'made',
 'significant',
 'recovery',
 'covid',
 'pandemic',
 'nigeria',
 'flood',
 'overwhelming',
 'disaster',
 'leaf',
 '600',
 'people',
 'dead',
 'wimbledon',
 'emma',
 'raducanu',
 'andy',
 'murray',
 'set',
 'centre',
 'court',
 'day',
 'one',
 'journey',
 'site',
 'nord',
 ...]

POS tagging

In [27]:
nlp = spacy.load('en_core_web_sm')

In [28]:
spacy_doc = nlp(' '.join(token_clean_list))

In [26]:
pos_df = pd.DataFrame(columns=['token', 'pos_tag'])

In [37]:
for token in spacy_doc:
    pos_df = pd.concat([pos_df, pd.DataFrame.from_records(
    [{'token': token.text, 'pos_tag': token.pos_}]
    )], ignore_index=True)

In [30]:
#token frequency
pos_df_counts = pos_df.groupby(['token', 'pos_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)
pos_df_counts.head(10)

        token pos_tag  counts
30       2022     NUM      47
1162  england   PROPN      45
870       cup   PROPN      39
3707       uk   PROPN      37
3055      say    VERB      37
3840      war    NOUN      34
2386      new     ADJ      31
3948    world    NOUN      30
3949    world   PROPN      26
3710  ukraine   PROPN      23

In [32]:
verbs = pos_df_counts[pos_df_counts.pos_tag == 'VERB'][0:10]
verbs

        token pos_tag  counts
3055      say    VERB      37
3711  ukraine    VERB      22
1651      hit    VERB      13
2133     make    VERB      13
1459      get    VERB      13
358      beat    VERB      13
1380    found    VERB      13
3460     take    VERB      13
1473     give    VERB      11
3918      win    VERB      10

Named Entity Recognition

In [33]:
ner_df = pd.DataFrame(columns=['token', 'ner_tag'])

In [35]:
for token in spacy_doc.ents:
    if pd.isna(token.label_) is False:
        ner_df = pd.concat([ner_df, pd.DataFrame.from_records(
            [{'token': token.text, 'ner_tag': token.label_}]
        )])

In [39]:
ner_df.head()

       token   ner_tag
0    russian      NORP
0    70 year      DATE
0  70 second      TIME
0       bull       ORG
0          1  CARDINAL

In [41]:
# token frequency count
ner_df_counts = ner_df.groupby(['token', 'ner_tag']).size().reset_index(name='counts').sort_values(by='counts', ascending=False)
ner_df_counts.head(10)

       token   ner_tag  counts
34      2022  CARDINAL      30
451  russian      NORP      25
223    first   ORDINAL      15
35      2022      DATE      11
233   france       GPE      10
450   russia       GPE      10
519     tory      NORP       9
339   london       GPE       9
4         10  CARDINAL       8
409      one  CARDINAL       8

In [43]:
# most common people
people = ner_df_counts[ner_df_counts.ner_tag == 'PERSON'][0:10]
people

             token ner_tag  counts
432          putin  PERSON       7
127  boris johnson  PERSON       5
106  antonio conte  PERSON       3
102    andy murray  PERSON       3
524   tyre nichols  PERSON       2
581       zelensky  PERSON       2
249          harry  PERSON       2
254     hodgkinson  PERSON       2
252   harry meghan  PERSON       2
331    lenny henry  PERSON       2

In [48]:
# most common places

places = ner_df_counts[ner_df_counts.ner_tag == 'GPE'][0:10]
places

            token ner_tag  counts
233        france     GPE      10
450        russia     GPE      10
339        london     GPE       9
531            uk     GPE       8
335     liverpool     GPE       7
211       england     GPE       7
156         china     GPE       7
109     australia     GPE       7
479  south africa     GPE       7
261         india     GPE       6